
*.xml
*.class
*.class
out/production/assign3/com/company/App.class
out/production/assign3/com/company/App.class
out/production/assign3/com/company/AverageEvaluator.class
out/production/assign3/com/company/Bar.class
